.header{
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

.logo > img{
  width:50px;

}
.user > img{
  width: 30px;
  margin: 5px;
}

.rescard{
  margin: 2px;
  width:200px;
  padding:5px
}
.rescard > img{
  width: 200px;
}
.res-Container{
  display: flex;
 justify-content: center;
  flex-wrap: wrap;
}
.rescard:hover{
  border: 1px solid grey;
  cursor: pointer;
}